*.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
TestingFile.R
.Rproj.user
*.log
*.pdf
*.aux
*.gz
*.grd
*.gri
ReferenceSimulatedDataSet.txt
archive/SimulatedSample.txt
*.RData
simulatedData/*
sealion_analysis/aleut_habitat.*
*.csv
